*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.wrapper{
    background:url(l.jpg) no-repeat;
    background-size: cover;
    height:180vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.logo{
    width: 90px;
    height: auto;
}
.navbar ul{
    float:right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin:0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition:.3s;

}
.navbar ul li a.active,
.navbar ul li a:hover{
    background:rgb(255, 0, 0);
    border-radius: 15px;
}
.wrapper .buttons{
margin:2px;
box-sizing:border-box;
    position:absolute;
    text-align:center;
    left: 30%;
    font-size: 100px;
    transition:0.5s;
    border-radius: 15px;
    transition: 0.5s;

}
.wrapper .content h1{
	color:#ffbf00;
	text-align:center;
}
.wrapper .content h2{
	color:#ffbf00;
text-align:center;}
.wrapper .content h3{
	margin-right:20%;
	color:#ffff00;
	float:right;
}
.wrapper .content p{
	color:#660000;
	text-align:center;
	font-size:24px;
}